# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\4 year creative media\4th year\Mobile app development\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
